<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <div class="about_page p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="my-5">MAUSAM</h3>
                    <p>This is a Weather Website which Helps to Know the Exact Weather of the Particular Place.</p>
                    <p>It Shows Results in the form of Temp, Wind, Weather, Humidity, etc.</p>

                    <br>

                    <span>This Weather App used OpenWeather.com to fetch Data using API and 
                    Providing Data from World Wide. </span> <img class="earth_logo" src="images/earth.jpeg" alt="">

                    <br>
                    <br>

                    <p>Access Code from <a href="https://github.com/Ankit13ranjan/Weather_NodeJS">here.</a></p>
                </div>
                <div class="col-md-4">
                    <img class="my-5 w-100" src="images/Self.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>